@model UserModelling.Models.EventOrganisers

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EventOrganisers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Events.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Events.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organisers.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organisers.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssigningDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssigningDateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventOrganiserId }) |
    @Html.ActionLink("Back to Event Organiser List", "Index")
</p>
