@model UserModelling.Models.Events

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Events</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventVenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventVenue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) |
    @Html.ActionLink("Back to Event List", "Index") |
    @Html.ActionLink("Assign an Organiser", "Create", "EventOrganisers")
</p>
